/* body{
    background-image: url('https://cdn.pixabay.com/photo/2016/10/25/22/22/roses-1770165_960_720.png');
} */
/* body
{
    background-color: #dabcfc;
} */
hr{
   background-color: black;
}
ul a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.mmm{
    background-image: url("https://cdn.pixabay.com/photo/2020/04/25/19/56/city-5092432_960_720.jpg");
    background-position: center;
    height: 450px;

}
