/* body{
    background-image: url('https://cdn.pixabay.com/photo/2016/10/25/22/22/roses-1770165_960_720.png');
} */
/* body
{
    background-color: #dabcfc;
} */
hr{
   background-color:black;
   color: black;
   border: 30px;
   height: 10px;
}
ul a{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: xx-large;
}
.mmm{
    background-image: url("https://cdn.pixabay.com/photo/2020/04/25/19/56/city-5092432_960_720.jpg");
    background-position: center;
    height: 450px;

}

.mul{
    color: whitesmoke;
    text-align: center;
    padding-top: 10%;
    background-color:grey;
    height: 300px;
    box-shadow: 30%;
    opacity: 0.8;
    width: 50%;
    margin-top: 3%;
    font-size: large;


}
.footer{
    height: 100px;
}
.pr{
    color: red !important; 
    font-size: xx-large;
    font-weight: bold;
    
}
.hhh{
    background-color: #E7E5E5 !important;
}
.dyn {
    padding-top: 2%;
    color: black;
    display: inline-block;
    position: relative;
    font-family: rancho;
}

.dyn::after {
    content: '';
    height: 5px;
    width: 70%;
    background: black;
    position: absolute;
    left: calc(18%);
    bottom: 0;
}
.nnn{
    text-align: center !important;
    background-color: cadetblue;
}